.viewtwo, button, h3 {
    position: relative;
    text-align: center;
    background: white;
    border-radius: 5px;
    
    }
    .viewtwo{
        border: 1px solid black;
        position: fixed;
        top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 12px;
        box-shadow: -2px -2px #7f9098;
    }
    
    .overlay {
        position: fixed;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background-color: rgba(0,0,0,0.8);
    }